body {
  margin: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

span {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
}

li {
  padding-right: 16px;
}

a {
  text-decoration: none;
  color: black;
}
