body{
    padding: 2rem;
}

div{
    padding: 1rem 0;
}

p{
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 1.5;
    font-weight: bolder;
    margin: 0;
}

.date{
    font-size: small;
}

.message{
    font-size: 1.2rem;
}

.ownMessage{
    color: darkblue;
}

.newMessage{
    color: darkviolet;
}
